# Dependencies
node_modules/

# Builds
dist/
dist-ssr/

# Env files
.env
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*

# IDEs and System files
.vscode/
.idea/
.DS_Store
*.suo
*.sln
backend/.env
